@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: montserrat;
  
}
nav{
  background: rgb(37, 37, 37);
  height: 70px;
  width: 100%;
}
label.logo{
  color: white;
  font-size: 35px;
  line-height: 70px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 70px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,a:hover{
  background: grey;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 1200px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 1200px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 20%;
    height: 80%;
    background: black;
    top: 80px;
    left: -100%;
    text-align: left;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: rgb(228, 3, 3);
  }
  #check:checked ~ ul{
    left: 0;
  }
}

h1 {
  
  margin: 0 auto;
  text-align: center;
  line-height:1;
  position: relative;
  top: 30%;
  font-size: 100px;
  word-break: break-all;
}

h2 {
  
  margin: 100px ;
  text-align: center;

}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.footer {
   position: absolute;
   left: 0;
   bottom: -100px;
   width: 100%;
   color: black;
   text-align: center;
}