@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: montserrat;
  
}
nav{
  background: rgb(37, 37, 37);
  height: 70px;
  width: 100%;
}
label.logo{
  color: white;
  font-size: 35px;
  line-height: 70px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 70px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,a:hover{
  background: grey;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 1200px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 1200px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 20%;
    height: 80%;
    background: black;
    top: 80px;
    left: -100%;
    text-align: left;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: rgb(228, 3, 3);
  }
  #check:checked ~ ul{
    left: 0;
  }
}

h1 {
  width:550px;
  margin: 0 auto;
  text-align: center;
  line-height:1;
  position: relative;
  top: 30%;
  font-size: 50px;
  word-break: break-all;
}

nav {
  text-align: center;
}
nav ul li a.current{
  background-color: rgba(0, 0, 0, 0.3);
}

nav ul li {
  display: inline-block;
  text-align: center;
  margin-right: 0%;
}



nav ul li:hover a{
   color: gray;
   background-color: white;
 }

nav ul li a.current{
  background-color: rgba(0, 0, 0, 0.3);
}


body{
    width: 1;
    color: white;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center center;
    /* No need to scroll sideways thats why x is hidden*/
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    font-family: "Comic Sans MS",cursive,sans-serif;
}
h1{
    color: white;
    font-family: sans-serif;
    text-align: center;
    margin-top: 20px;
    font-size: 48px;
    text-shadow: 5px 5px 5px rgba(54, 163, 236, 1);
;
}
.xad-table-container{
    font-size: 20px;
    width: 80%;
    margin: 300px;
}
.xad-table-row{
    display: flex;
    position: 50px;
}
#SortButton{
    color: white;
    background-color: rgba(54, 163, 236, 1);
    font-family:Comic Sans MS,cursive,sans-serif;
}

.xad-table-column{
    background-color: rgb(97, 88, 88);
    color: black;
    margin: 2px;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.xad-name{
    flex-basis: 15%;
}

.xad-phone{
    flex-basis: 15%;
}

.xad-birthday{
    flex-basis: 15%
}

.xad-address{
    flex-basis: 30%;
}

.xad-header {
    background-color: rgb(109, 147, 172);
    font-weight: bolder;
}

.xad-edit, .xad-delete{
    flex-basis: 5%;
    text-align: center;
    cursor: pointer;
}
.xad-add-entry{
    flex-basis: 5%;
    text-align: center;
    cursor: pointer;
}

#newPersonModal{
    width: 500px;
    padding: 10px;
    border-radius: 5px;
    z-index: 99;
    top: 50px;
    position: absolute;
    margin-left: calc(50% - 250);
    background-color: rgb(70, 72, 73);
}

#newPersonModal input{
    display: block;
    margin-bottom: 15px;
    padding: 10px;
    border: 3px;
    width: 95%;
}

.input-err{
    background-color: red;
}

#backdrop{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,0.8);
    z-index: 50;
    top: 0;
    left: 0;
}

#newPersonSubmitButton{
    background-color: rgb(47,95,151);
}

#newCancelButton{
    background-color: rgb(151, 47, 47);
}

button{
    padding: 15px;
    border-radius: 5px;
    border: none;
    float: right;
    margin: 5px;
    cursor: pointer;
}
button:hover{
    padding: 13px;
}

.disable-modal{
    visibility: hidden;
}

.enable-modal{
    visibility: visible;
}


i{
    pointer-events: none;
}

/* The width is 100%, when the viewport is 800px or smaller */
@media screen and (max-width: 800px) {
    .xad-table-container,.xad-table-row,.xad-table-column,::backdrop,.xad-name,.xad-phone,.xad-birthday,.xad-address,.xad-add-entry,.xad-edit,.xad-delete,.disable-modal,.enable-modal{
      width: 100%; 
    }
  }
