@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}
.wrapper{
  background: #171c24;
  position: unset;
  width: 100%;
}
.wrapper nav{
  position: relative;
  display: flex;
  max-width: calc(100% - 200px);
  margin: 0 auto;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}
nav .content{
  display: flex;
  align-items: center;
}
nav .content .links{
  margin-left: 80px;
  display: flex;
}
.content .logo a{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}
.content .links li{
  list-style: none;
  line-height: 70px;
}
.content .links li a,
.content .links li label{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 17px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.content .links li label{
  display: none;
}
.content .links li a:hover,
.content .links li label:hover{
  background: #323c4e;
}
.wrapper .search-icon,
.wrapper .menu-icon{
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  line-height: 70px;
  width: 70px;
  text-align: center;
}
.wrapper .menu-icon{
  display: none;
}
.wrapper #show-search:checked ~ .search-icon i::before{
  content: "\f00d";
}
.wrapper .search-box{
  position: absolute;
  height: 100%;
  max-width: calc(100% - 50px);
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.wrapper #show-search:checked ~ .search-box{
  opacity: 1;
  pointer-events: auto;
}
.search-box input{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 17px;
  color: #fff;
  background: #171c24;
  padding: 0 100px 0 15px;
}
.search-box input::placeholder{
  color: #f2f2f2;
}
.search-box .go-icon{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 60px;
  width: 70px;
  background: #171c24;
  border: none;
  outline: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.wrapper input[type="checkbox"]{
  display: none;
}
/* Dropdown Menu code start */
.content .links ul{
  position: absolute;
  background: #171c24;
  top: 80px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}
.content .links li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}
.content .links ul li a{
  display: block;
  width: 100%;
  line-height: 30px;
  border-radius: 0px!important;
}
.content .links ul ul{
  position: absolute;
  top: 0;
  right: calc(-100% + 8px);
}
.content .links ul li{
  position: relative;
}
.content .links ul li:hover ul{
  top: 0;
}
/* Responsive code start */
@media screen and (max-width: 1250px){
  .wrapper nav{
    max-width: 100%;
    padding: 0 20px;
  }
  nav .content .links{
    margin-left: 30px;
  }
  .content .links li a{
    padding: 8px 13px;
  }
  .wrapper .search-box{
    max-width: calc(100% - 100px);
  }
  .wrapper .search-box input{
    padding: 0 100px 0 15px;
  }
}
@media screen and (max-width: 900px){
  .wrapper .menu-icon{
    display: block;
  }
  .wrapper #show-menu:checked ~ .menu-icon i::before{
    content: "\f00d";
  }
  nav .content .links{
    display: block;
    position: fixed;
    background: #14181f;
    height: 100%;
    width: 100%;
    top: 70px;
    left: -100%;
    margin-left: 0;
    max-width: 350px;
    overflow-y: auto;
    padding-bottom: 100px;
    transition: all 0.3s ease;
  }
  nav #show-menu:checked ~ .content .links{
    left: 0%;
  }
  .content .links li{
    margin: 15px 20px;
  }
  .content .links li a,
  .content .links li label{
    line-height: 40px;
    font-size: 20px;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
  }
  .content .links li a.desktop-link{
    display: none;
  }
  /* dropdown responsive code start */
  .content .links ul,
  .content .links ul ul{
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
  }
  .content .links #show-features:checked ~ ul,
  .content .links #show-services:checked ~ ul,
  .content .links #show-items:checked ~ ul{
    max-height: 100vh;
  }
  .content .links ul li{
    margin: 7px 20px;
  }
  .content .links ul li a{
    font-size: 18px;
    line-height: 30px;
    border-radius: 5px!important;
  }
}
@media screen and (max-width: 400px){
  .wrapper nav{
    padding: 0 10px;
  }
  .content .logo a{
    font-size: 27px;
  }
  .wrapper .search-box{
    max-width: calc(100% - 70px);
  }
  .wrapper .search-box .go-icon{
    width: 30px;
    right: 0;
  }
  .wrapper .search-box input{
    padding-right: 30px;
  }
}
.dummy-text{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  z-index: -1;
  padding: 0 20px;
  text-align: center;
  transform: translate(-50%, -50%);
}
.dummy-text h2{
  font-size: 45px;
  margin: 5px 0;
}

{
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  padding: 20px;
  font-family: Arial;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}



.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content1 {
  background-color: white;
  padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
 
  
}

.summary-me{
  width:550px;
  margin: 0 auto;
  text-align: center;
  line-height:5;
  position: relative;
  top: 30px;
}

.summary-all{
  width:700px;
  margin: 0 auto;
  text-align: center;
  line-height:;
  position: relative;
  top: 30px;
  line-height: 2.3;
}

.footer {
   position: sticky;
   left: 0;
   bottom: 10;
   width: 100%;
   background-color: ;
   color: black;
   text-align: center;
}

.summary-memore{
  width:800px;
  margin: 0 auto;
  text-align: center;
  line-height:;
  position: relative;
  top: 80px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

an {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}

nav {
  text-align: center;
}
nav ul li a.current{
  background-color: rgba(0, 0, 0, 0.3);
}

nav ul li {
  display: inline-block;
  text-align: center;
  margin-right: 0%;
}



nav ul li:hover a{
   color: gray;
   background-color: white;
 }

nav ul li a.current{
  background-color: rgba(0, 0, 0, 0.3);
}



}
h1{
    color: white;
    font-family: sans-serif;
    text-align: center;
    margin-top: 20px;
    font-size: 48px;
    text-shadow: 5px 5px 5px rgba(54, 163, 236, 1);
;
}
.xad-table-container{
    font-size: 20px;
    margin-top: 35px;
    width: 80%;
    margin:auto;
}
.xad-table-row{
    display: flex;
}
#SortButton{
    color: white;
    background-color: rgba(54, 163, 236, 1);
    font-family:Comic Sans MS,cursive,sans-serif;
}

.xad-table-column{
    background-color: white;
    color: black;
    margin: 2px;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.xad-name{
    flex-basis: 15%;
}

.xad-phone{
    flex-basis: 15%;
}

.xad-birthday{
    flex-basis: 15%
}

.xad-address{
    flex-basis: 30%;
}

.xad-header {
    background-color: grey;
    font-weight: bolder;
}

.xad-edit, .xad-delete{
    flex-basis: 5%;
    text-align: center;
    cursor: pointer;
}
.xad-add-entry{
    flex-basis: 5%;
    text-align: center;
    cursor: pointer;
}

#newPersonModal{
    width: 500px;
    padding: 10px;
    border-radius: 5px;
    z-index: 99;
    top: 50px;
    position: absolute;
    margin-left: calc(50% - 250);
    background-color: rgb(54,163,236);
}

#newPersonModal input{
    display: block;
    margin-bottom: 15px;
    padding: 10px;
    border: 3px;
    width: 95%;
}

.input-err{
    background-color: white;
}

#backdrop{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,0.8);
    z-index: 50;
    top: 0;
    left: 0;
}

#newPersonSubmitButton{
    background-color: rgb(47,95,151);
}

#newCancelButton{
    background-color: rgb(151, 47, 47);
}

button{
    padding: 15px;
    border-radius: 5px;
    border: none;
    float: right;
    margin: 5px;
    cursor: pointer;
}
button:hover{
    padding: 13px;
}

.disable-modal{
    visibility: hidden;
}

.enable-modal{
    visibility: visible;
}


i{
    pointer-events: none;
}

@media screen and (max-width: 800px) {
    .xad-table-container,.xad-table-row,.xad-table-column,::backdrop,.xad-name,.xad-phone,.xad-birthday,.xad-address,.xad-add-entry,.xad-edit,.xad-delete,.disable-modal,.enable-modal{
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
  }